@media screen and (max-width: 480px) {

#pageHeader {
	display: block;
	border-left-width: 30px;
}

#site-title {
	display: block;
	text-align: center;
}

#github-link {
	display: block;
	float: none;
	text-align: center;
	border-top-width: 10px;
}

#content-pane {
	display: block;
	min-height: calc(100vh - 265px);
}

div.content-section {
	display: block;
	width: auto;
}

#footer {
	margin-top: -1px;
}

}