html {
	border-style: solid;
	border-width: 50px;
	border-color: royalblue;
}

body {
	font-family: Arial;
	font-size: 12px;
}

h1 {
	text-align: center;
}

p {
	text-indent: 25px;
}

#pagebuffer {
	border-style: solid;
	border-width: 20px;
	border-color: white;
}