
html {
	
}

body {
	font-family: Arial;
	outline: 0;
}

a {
	color: black;
}

a:hover {
	color: #009999;
}

p {
	text-indent: 25px;
	font-size: 16px;
}

.ridgeBorder {
	border-style: ridge;
	border-color: #009999;
	border-width: 5px;
}

#content {
	border-style: solid;
	border-width: 20px;
	border-color: white;
	border-top-width: 5px;
}

#titlepane {
	border-style: solid;
	border-width: 30px;
	border-color: white;
}

#myname {
	text-decoration: none;
	font-size: 36px;
	font-family: Verdana;
	border-left-width: 40px;
	border-left-style: solid;
	border-left-color: white;
}

#githubLink {
	text-align: right;
	text-decoration: none;
	font-size: 17px;
	border-right-width : 50px;
	border-right-style: solid;
	border-right-color: white;
	border-right-width: 50px;
}

#contentBorder {
	border-style: solid;
	border-width: 30px;
	border-color: #10A9A9;
}
